################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net6.0/VCreate.AssemblyInfo.cs
/obj/Debug/net6.0/VCreate.AssemblyInfoInputs.cache
/obj/Debug/net6.0/VCreate.assets.cache
/obj/Release/net6.0/VCreate.AssemblyInfo.cs
/obj/Release/net6.0/VCreate.AssemblyInfoInputs.cache
/obj/Release/net6.0/VCreate.assets.cache
/.vs/ProjectEvaluation/vcreate.metadata.v7.bin
/.vs/ProjectEvaluation/vcreate.projects.v7.bin
/obj/Debug/net6.0/VCreate.GeneratedMSBuildEditorConfig.editorconfig
/obj/Release/net6.0/VCreate.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0/VCreate.csproj.AssemblyReference.cache
/obj/Release/net6.0/VCreate.csproj.AssemblyReference.cache
/obj/VCreate.csproj.nuget.dgspec.json
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/ProjectEvaluation/k.metadata.v7.bin
/.vs/ProjectEvaluation/k.projects.v7.bin
/.vs/Cobalt/v17/DocumentLayout.json
/.vs/k/v17/DocumentLayout.json
/obj/Debug/net6.0/ds.AssemblyInfo.cs
/obj/Debug/net6.0/ds.AssemblyInfoInputs.cache
/obj/Debug/net6.0/ds.assets.cache
/obj/Debug/net6.0/ds.csproj.AssemblyReference.cache
/obj/Debug/net6.0/ds.GeneratedMSBuildEditorConfig.editorconfig
/obj/ds.csproj.nuget.dgspec.json
/obj/ds.csproj.nuget.g.props
/obj/ds.csproj.nuget.g.targets
/obj/Release/net6.0/ds.AssemblyInfo.cs
/obj/Release/net6.0/ds.AssemblyInfoInputs.cache
/obj/Release/net6.0/ds.assets.cache
/obj/Release/net6.0/ds.csproj.AssemblyReference.cache
/obj/Release/net6.0/ds.GeneratedMSBuildEditorConfig.editorconfig
/.vs/Cobalt/FileContentIndex/07029351-eb2a-49d6-bd9b-8aad97638b0f.vsidx
/.vs/Cobalt/FileContentIndex/07029351-eb2a-49d6-bd9b-8aad97638b0f.vsidx
/.gitignore
/.vs/Cobalt/FileContentIndex/0447d7af-8d5c-4da2-a1ae-867dad2fa23b.vsidx
/.vs/Cobalt/FileContentIndex/0bdf8fcb-86c3-482c-8e5d-fc493474715e.vsidx
/.vs/Cobalt/FileContentIndex/415b9453-15a9-477f-923a-38db74cb1b78.vsidx
/.vs/Cobalt/FileContentIndex/9ba156da-6a04-4a58-b9bd-c77a03bbea8e.vsidx
/.vs/Cobalt/FileContentIndex/a69ed5f4-f4b4-46e1-af81-a6872b51be67.vsidx
/.vs/Cobalt/v17/.futdcache.v2
/.vs/Cobalt/v17/.suo
/.vs/Cobalt/v17/.wsuo
/.vs/k/FileContentIndex/63e97b53-9b46-409c-9200-7948a3b10c02.vsidx
/.vs/k/v17/.suo
/.vs/k/v17/.wsuo
/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/.vs/Cobalt/FileContentIndex/4910ad1d-f5f4-47d2-8789-16d78e08e30d.vsidx
/.gitignore
/.vs/Cobalt/FileContentIndex/ad9003f5-3c02-4d56-b8ea-2067b54dca7d.vsidx
/.vs/Cobalt/FileContentIndex/f220e89b-7378-4d8f-bce8-4b36fe4473ae.vsidx
/.vs/Cobalt/FileContentIndex/89cbd329-531c-4276-a693-6b549b563eee.vsidx
/.gitignore
/.vs/Cobalt/FileContentIndex/40f06faa-d469-4de5-b88c-50e540f1081a.vsidx
/.vs/Cobalt/FileContentIndex/fdc40e5c-8e6c-439d-b2f1-bd552995ce3c.vsidx
/.vs/Cobalt/FileContentIndex/4b2e47ad-f3ee-4e91-90ec-eb926decdcf1.vsidx
*.vsidx
